.header {
    background-color: white;
    padding: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
        font-size: 48px;
        text-align: center;
        color: purple;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        }
}